<style>
.hope-ui-light {
    background-image: url("url") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
  }

  .hope-ui-dark {
    background-image: url("url") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
  }
</style>
